SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=SUA_SERVICE_ROLE_KEY
SUPABASE_LOCAL_FALLBACK=false

DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_PASSWORD=123456
PORT=3002
CORS_ORIGIN=https://guilhermegalvaosilva.github.io
